.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu li {
  max-width: 70px;
  margin: 0 1.5rem;
  text-align: center;
  list-style: none;
}

.Logo {
  margin: 0 1.5rem;
  padding: 0;
}

.Checkout p{
  position: absolute;
  top: 0.5rem;
  right: 5.2rem;
  color: black;
}
